
# Created by https://www.gitignore.io/api/react
# Edit at https://www.gitignore.io/?templates=react

pmdata.db

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
.vscode/
node_modules
bower_components
db/*.sqlite3
*.sublime*
tmp.*
psd
thumb
sketch
build
*.txt
aqi.json


# End of https://www.gitignore.io/api/react

src/contents/pm_data/aqi.json
src/contents/pm_data/logo.png
